*{
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	/*position: absolute;*/
	font-family: 'Roboto', sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.intro {
	width: 100%;
	background-image: url(img/back.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 0%;
	/*background-position: -1.06% -32.45% 80.97% 98.98%;*/
	background-color: #fff;
	/*position: absolute;*/
	border: 1px solid #fff;
}
.header {
	width: 100%;
	display: block;
	padding: 18px 0px 18px 0px;
	position: absolute;
	background-color: #0000;
}
.navbar {
	display: none;
}
.logo {
	display: inline-block;
	float: left;
	margin-left: 30px;
	width: 79px;
	height: 38px;
}
.btn-buy {
	display: none;
}
.ham-menu {
	float: right;
	margin-right: 30px; 
}
.ham {
	width: 35px;
	height: 3px;
	background-color: black;
	margin: 6px 0;
}
.ham-menu:hover {
	background-color: lavender;
}
.navbar ul {

}
/*tablet view for header*/
@media only screen and (min-width: 768px) {
	.main{
		width: 100%;
	}
	.header {
		width: 100%;
		padding: 30px 0px 30px 0px;
	}
	.navbar {
		display: none;
	}
	.logo {;
		margin-left: 50px;
	}
	.ham-menu {
		margin-right: 50px; 
	}
}
/*Desktop View for Header*/
@media only screen and (min-width: 1440px) {
	.main {
		width: 100%;
	}
	.navbar {
		display: inline-block;
		float: left;
		margin-left: 160px;
	}
	.navbar li{
		display: inline-block;
		text-decoration: none;
		font-size: 18px;
		margin-right: 60px;
	}
	.navbar a {
		color: #505F98;
		text-decoration: none;
	}
	.logo {
		display: inline-block;
		margin-left: 210px;
		width: 90px;
	}
	.ham-menu {
		display: none;
	}
	/*Styling Button*/
	.btn-buy {
		width: 160px;
		height: 30px;
		font-size: 16px;
		background-color: #111B47;
		border-radius: 2px;
		color: #FFFFFF;
		display: inline-block;
		float: right;
		margin-right: 355px;
		margin-right: 167px; 
	}
}
/*Styling Intro section for mobile view*/
.intro-content {
	width: 70%;
    margin-top: 120px;
    /*margin-bottom: 300px;*/
    /*background-color: rgba(255, 255, 255, .7);*/
    margin-left: 70px;
    padding: 10px;
}
.intro-content h1 {
	display: block;
	font-size: 40px;
	color: #091133;
}
.intro-content p{
	margin-top: 20px;
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: #505F98;
}
.btn1{
	display: inline-block;
	width: 160px;
	height: 30px;
	background-color: #111B47;
	border-radius: 2px;
	font-size: 14px;
	color: #FFFFFF;
	display: inline-block;
	margin-top: 50px;
}
.btn2 {
	display: inline-block;
	width: 160px;
	height: 30px;
	border: 2px solid #091133;
	border-radius: 2px;
	font-size: 14px;
	color: #091133;
	display: inline-block;
	margin-top: 50px;
}
/*Creating read more button*/
#more {
	display: none;
}
#myBtn {
	display: inline-block;
	width: 100px;
	height: 30px;
	font-size: 12px;
	border: 1px solid #091133;
	border-radius: 2px;
	color: #091133;
	display: inline-block;
	margin-top: 10px;
	border-radius: 3px;
}
/*tablet view for intro section*/
@media only screen and (min-width: 768px) {
	.main{
		width: 100%;
	}
	.intro {
		width: 100%;
		background-size: contain;
		background-position: 100% 0%;
	}
	.intro-content {
		width: 70%;
	    margin-top: 200px;
	    margin-bottom: 300px;
	    margin-left: 100px;
	    padding: 10px;
	}
	.btn1{
		width: 190px;
		height: 70px;
		margin-top: 100px;
		margin-left: 20px;
		/*margin-right: 20px;*/
		font-size: 20px;
	}
	.btn2 {
		width: 190px;
		height: 70px;
		margin-top: 100px;
		font-size: 20px;
		color: #111B47;
	}
	#myBtn {
		width: 200px;
		height: 50px;
		margin-top: 50px;
		font-size: 20px;
	}
	.intro-content h1 {;
		font-size: 40px;
	}
	.intro-content p{
		margin-top: 20px;
		font-size: 16px;
		line-height: 20px;
	}

}
/*Desktop View of Intro Section*/
@media only screen and (min-width: 1440px) {
	.main {
		width: 100%;
	}
	.intro {
		width: 100%;
		background-size: contain;
		background-position: 100% 0%;
	}
	.intro-content {
		width: 70%;
	    margin-top: 260px;
	    margin-bottom: 300px;
	    margin-left: 163.12px;
	    padding: 10px;
	}
	.intro-content h1 {
		font-size: 50px;
		line-height: 66px;
		letter-spacing: 1px;
	}
	.intro-content p {
		margin-top: 20px;
		font-size: 18px;
		line-height: 30px;
	}
	.btn1{
		width: 260px;
		height: 70px;
		margin-top: 100px;
		margin-right: 20px;
		font-size: 20px;
	}
	.btn2 {
		width: 260px;
		height: 70px;
		margin-top: 100px;
		font-size: 20px;
	}
	#more {
		display: block;
	}
	#myBtn {
		display: none;
	}
	.intro-content h1 {;
		font-size: 50px;
	}
	.intro-content p{
		margin-top: 20px;
		font-size: 18px;
		line-height: 20px;
	}
}
/*Mobile view of Info Content*/
.info-content {
	width: 100%;
}
.description {
	width: 100%;
	margin-top: 160px;
}
.description h2{
	margin-left: 100px;
	color: #091133;
}
.description-img {
	width: 70%;
	margin: 0 auto;
}
.description-img img{
	width: 100%;
}
.left-description {
	width: 70%;
	margin: 0 auto;
}
.left-description p{
	margin-left: 10px;
	margin-bottom: 20px;
}
.title-icon {
	margin: 0 auto;

}
.icon-left {
	width: 40%;
	float: left;
	margin-left: 10px;
}
.icon-right {
	width: 40%;
	float: right;
}
.title-icon h3{
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 10px;

}
.title-icon span{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
	.info-content {
		width: 100%;
	}
	.description {
		width: 100%;
		margin-top: 120px;
	}
	.description h2{
		margin-left: 50px;
		margin-bottom: 20px;
		display: inline-block;
	}
	.description-img {
		width: 40%;
		float: right;
	}
	.description-img img{
		width: 100%;
	}
	.left-description {
		width: 40%;
		margin-left: 40px;
		float: left;
	}
	.left-description p{
		margin-left: 10px;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 20px;
	}
	.title-icon h3{
		font-size: 10px;
		line-height: 16px;

	}
	.title-icon span{
		font-size: 10px;
		line-height: 10px;
	}
	.icon-left {
		width: 40%;
		float: left;
		margin-left: 10px;
	}
	.icon-right {
		width: 40%;
		float: right;
	}
}
@media only screen and (min-width: 1440px) {
	.info-content {
		width: 100%;
	}
	.description {
		width: 100%;
		margin-top: 150px;
	}
	.description h2{
		margin-left: 50px;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 48px;
		display: inline-block;
		color: #091133;
	}
	.description-img {
		width: 40%;
		float: right;
	}
	.description-img img{
		width: 100%;
	}
	.left-description {
		width: 40%;
		margin-left: 40px;
		float: left;
	}
	.left-description p{
		margin-left: 10px;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 20px;
		color: #6F7CB2;
	}
	.title-icon h3{
		font-size: 16px;
		line-height: 16px;

	}
	.title-icon span{
		font-size: 12px;
		line-height: 18px;
	}
	.icon-left {
		width: 40%;
		float: left;
		margin-left: 10px;
	}
	.icon-right {
		width: 40%;
		float: right;
	}
}
/*Mobile View for info content 1*/
.info-content-1 {
	width: 100%;
}
.description-1 {
	width: 100%;
	margin-top: 100px;
}
.description-1 h2{
	margin-left: 100px;
	margin-bottom: 30px;
	color: #091133;
}
.left-description-1 {
	width: 70%;
	margin: 0 auto;
}
.left-description-1 img{
	width: 100%;
	margin-bottom: 30px;
}
.right-description {
	width: 70%;
	margin: 0 auto;
}
.right-description p{
	margin-left: 10px;
	margin-bottom: 20px;
	color: #6F7CB2;
}
@media only screen and (min-width: 768px) {
	.info-content-1 {
		width: 100%;
		margin: 0 auto;
	}
	.description-1 {
		width: 100%;
		margin-top: 10px;
	}
	.description-1 h2{
		margin-top: 50px;
		margin-left: 30px;
		margin-bottom: 20px;
		width: 40%;
		display: inline-block;
	}
	.left-description-1 {
		width: 40%;
		float: right;
	}
	.left-description-1 img{
		width: 100%;
	}
	.left-description-1 {
		width: 40%;
		margin-left: 40px;
		float: left;
	}
	.right-description p{
		margin-left: 30px;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 20px;
		display: inline-block;
		width: 50%;
		color: #6F7CB2;
	}
}
@media only screen and (min-width: 1440px) {
	.info-content-1 {
		width: 100%;
	}
	.description-1 {
		width: 100%;
		margin-top: 100px;
	}
	.description-1 h2{
		margin-top: 150px;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 48px;
		display: inline-block;
		float: right;
	}
	.left-description-1 {
		width: 50%;
		float: left;
		display: inline-block;
	}
	.left-description-1 img{
		width: 100%;
	}
	.right-description {
		width: 40%;
		margin-left: 40px;
		float: right;
	}
	.right-description p{
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 20px;
		width: 100%;
		float: right;
		display: inline-block;
		color: #6F7CB2;
	}
}
/*Mobile view for info-content-2*/
.info-content-2 {
	width: 100%;
}
.description-2 {
	width: 100%;
	margin-top: 100px;
}
.description-2 h2{
	margin-left: 100px;
	margin-bottom: 30px;
	color: #091133;
}
.left-description-2 {
	width: 70%;
	margin: 0 auto;
}
.left-description-2 img{
	width: 100%;
	margin-bottom: 30px;
}
.right-description-2 {
	width: 70%;
	margin: 0 auto;
}
.right-description-2 p{
	margin-left: 10px;
	margin-bottom: 20px;
	color: #6F7CB2;
}
@media only screen and (min-width: 768px) {
	.info-content-2 {
		width: 100%;
		margin: 0 auto;
	}
	.description-2 {
		width: 100%;
		margin-top: 120px;
	}
	.description-2 h2{
		margin-top: 50px;
		margin-left: 30px;
		margin-bottom: 20px;
		width: 40%;
		display: inline-block;
	}
	.left-description-2 {
		width: 40%;
		float: right;
	}
	.left-description-2 img{
		width: 100%;
	}
	.left-description-2 {
		width: 40%;
		margin-left: 40px;
		float: left;
	}
	.right-description-2 p{
		font-size: 12px;
		margin-left: 30px;
		line-height: 16px;
		margin-bottom: 20px;
		display: inline-block;
		width: 40%;
		color: #6F7CB2;
	}
}
@media only screen and (min-width: 1440px) {
	.info-content-2 {
		width: 100%;
	}
	.description-2 {
		width: 100%;
		margin-top: 100px;
	}
	.description-2 h2{
		margin-top: 150px;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 48px;
		display: inline-block;
		float: right;
	}
	.left-description-2 {
		width: 50%;
		margin-top: 100px;
		float: left;
		display: inline-block;
	}
	.left-description-2 img{
		width: 100%;
	}
	.right-description-2 {
		width: 40%;
		margin-left: 40px;
		float: right;
	}
	.right-description-2 p{
		font-size: 18px;
		line-height: 26px;
		margin-left: 30px;
		margin-bottom: 20px;
		width: 100%;
		float: right;
		display: inline-block;
		color: #6F7CB2;
	}


}
/*Mobile view for info-content-3*/
.info-content-3 {
	width: 100%;
	margin-bottom: 50px;
}
.description-3 {
	width: 100%;
	margin-top: 100px;
}
.description-3 h2{
	margin-left: 100px;
	margin-bottom: 30px;
	color: #091133;
}
.left-description-3 {
	width: 70%;
	margin: 0 auto;
}
.left-description-3 img{
	width: 100%;
	margin-bottom: 30px;
}
.right-description-3 {
	width: 70%;
	margin: 0 auto;
}
.right-description-3 p{
	margin-left: 10px;
	margin-bottom: 20px;
	color: #6F7CB2;
}
.right-description-3 button {
	width: 150px;
	height: 30px;
	font-size: 16px;
	background-color: #111B47;
	border-radius: 2px;
	color: #FFFFFF;
	display: inline-block;
	float: left;
	margin-right: 355px;
}
@media only screen and (min-width: 768px) {
	.info-content-3 {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	.description-3 {
		width: 100%;
		margin-top: 120px;
	}
	.description-3 h2{
		margin-top: 50px;
		margin-left: 30px;
		margin-bottom: 20px;
		width: 40%;
		display: inline-block;
	}
	.left-description-3 {
		width: 40%;
		float: right;
	}
	.left-description-3 img{
		width: 100%;
	}
	.left-description-3 {
		width: 40%;
		margin-left: 40px;
		float: left;
	}
	.right-description-3 p{
		font-size: 12px;
		margin-left: 30px;
		line-height: 16px;
		margin-bottom: 20px;
		display: inline-block;
		width: 40%;
		color: #6F7CB2;
	}
	.right-description-3 button {
		width: 150px;
		height: 30px;
		font-size: 16px;
		background-color: #111B47;
		border-radius: 2px;
		color: #FFFFFF;
		display: inline-block;
		float: right;
		margin-right: 130px;
	}
}
@media only screen and (min-width: 1440px) {
	.info-content-3 {
		width: 100%;
		margin-bottom: 100px;
	}
	.description-3 {
		width: 100%;
		margin-top: 100px;
	}
	.description-3 h2{
		margin-top: 150px;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 48px;
		display: inline-block;
		float: right;
	}
	.left-description-3 {
		width: 50%;
		margin-top: 100px;
		float: left;
		display: inline-block;
	}
	.left-description-3 img{
		width: 100%;
	}
	.right-description-3 {
		width: 40%;
		margin-left: 40px;
		float: right;
	}
	.right-description-3 p{
		font-size: 18px;
		line-height: 26px;
		margin-left: 30px;
		margin-bottom: 50px;
		width: 100%;
		float: right;
		color: #6F7CB2;
		display: inline-block;
	}
	.right-description-3 button {
		width: 150px;
		height: 30px;
		font-size: 16px;
		background-color: #111B47;
		border-radius: 2px;
		color: #FFFFFF;
		display: inline-block;
		float: left;
		margin-right: 160px;
	}
}
/*Mobile View for Final- Description*/
.final-description {
	width: 100%;
	background-image: url(img/Rectangle.png);
	background-size: cover;
	position: relative;
	background-color: #E7ECFF;
}
.final-container {
	margin-top: 200px;
	width: 60%;
	margin: 0 auto;
}
.price {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.price h2{
	font-size: 18px;
	color: #091133;
}
.price p{
	font-size: 12px;
	color: #6F7CB2;
}
.price-dollar {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
	color: #37447E;
}
.price-dollar span{
	display: block;
	color: #222F65;
}
.purchase {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.purchase span{
	color: #5D6970;
	display: block;
	margin-bottom: 10px;
	font-size: 12px; 
}
.purchase button{
	margin-bottom: 10px;
	width: 160px;
	height: 30px;
	background-color: #111B47;
	border-radius: 2px;
	font-size: 14px;
	color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
	.final-description {
		width: 100%;
		background: #E7ECFF;
	}
	.final-container {
		margin-top: 200px;
		width: 50%;
		margin: 0 auto;
	}
	.price {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
	}
}
@media only screen and (min-width: 1440px) {
	.final-description {
		width: 100%;
		background: #E7ECFF;
	}
	.final-container {
		margin-top: 200px;
		width: 40%;
		margin: 0 auto;
	}
	.clearfix::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	.price {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
	}
	.price h2{
		font-size: 36px;
		line-height: 48px;
	}
	.price p{
		font-size: 16px;
		line-height: 26px;
		color: #6F7CB2;
	}
}
/*Mobile View of Footer*/
.footer {
	width: 100%;
	margin-bottom: 30px;
}
.footer-container {
	background-color: #E7ECFF;
	width: 100%;
}
.footer-top {
	display: none;
}
.line {
	display: none;
}
.clearfix::after {
	  content: "";
	  clear: both;
	  display: table;
	}
.footer-bottom {
	width: 80%;
	margin: 0 auto;
	display: block;
}
.footer-nav {
	display: inline-block;
	float: left;
}

.footer-nav a{
	text-decoration: none;
	margin-left: 20px;
	color: #939EA4;
}
.social-icon {
	display: inline-block;
	float: right;
}
.social-icon a {
	margin-right: 20px; 
}
@media only screen and (min-width: 768px) {
	.footer {
		width: 100%;
		margin-bottom: 30px;
		background-color: #E7ECFF;
	}
}
@media only screen and (min-width: 1440px) {
	.footer {
		width: 100%;
		margin-bottom: 30px;
		background-color: #E7ECFF;
	}
	.clearfix::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	.footer-top {
		display: block;
		width: 80%;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}
	.footer-top span {
		float: left;
		display: inline-block;
	}
	.footer-top button {
		float: right;
		display: inline-block;
	}
	.footer-top img {
		float: left;
		margin-left: 420px;
		display: inline-block;
	}
	.footer-top button{
		margin-bottom: 10px;
		width: 109px;
		height: 20px;
		background-color: #111B47;
		border-radius: 2px;
		font-size: 12px;
		line-height: 18px;
		color: #FFFFFF;
	}
	.line {
		width: 80%;
		height: 2px;
		display: block;
		margin: 0 auto;
		background: #CDD1D4;
	}
	.footer-bottom {
		display: block;
		width: 83%;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.footer-nav {
		float: left;
		display: inline-block;
	}
	.social-icon {
		float: right;
		display: inline-block;
		margin-left: 60px;
	}
}